_ignore
build
build.sh
subprojects/libhandy-*
subprojects/packagecache
*~
builddir
*.snap
.flatpak-builder
*.exe
/tuba_windows_portable/
tuba_windows_portable.zip
Brewfile.lock.json
.DS_Store
tuba_macos/
tuba_macos.dmg
