_ignore
build
build.sh
subprojects/libhandy-*
subprojects/packagecache
*~
builddir
*.snap
.flatpak-builder
*.exe
/tuba_windows_portable/
tuba_windows_portable.zip
/nsis/
# subprojects/
.pixiewood/
subprojects/**/
!subprojects/
!subprojects/packagefiles/
!subprojects/packagefiles/*.patch
subprojects/gtk.wrap
subprojects/glib.wrap
subprojects/libadwaita.wrap
subprojects/gdk-pixbuf.wrap
subprojects/cairo.wrap
subprojects/rsvg.wrap
subprojects/harfbuzz.wrap
subprojects/fontconfig.wrap
subprojects/libjpeg-turbo.wrap
subprojects/pango.wrap
subprojects/fribidi.wrap
subprojects/graphene.wrap
subprojects/gperf.wrap
subprojects/libtiff.wrap
subprojects/pcre2.wrap
subprojects/libepoxy.wrap
subprojects/proxy-libintl.wrap
subprojects/freetype2.wrap
subprojects/libpng.wrap
subprojects/ministream.wrap
subprojects/sysprof.wrap
subprojects/libffi.wrap
subprojects/gvdb.wrap
subprojects/libxml2.wrap
subprojects/gdk-pixbuf.wrap
subprojects/pixman.wrap
subprojects/gobject-introspection.wrap
subprojects/cairo.wrap

