.mode .toggle{
    border-radius:0px;
    border-top:none;
    border-bottom:none;
    padding:10px;
    margin:0px;
}
        
.button_avatar{
    padding:0;
    border:0;
    box-shadow:none;
    background:none;
}

.toot-text, .toot-text text{
    background-color: transparent;
}

.header{
    background-size: cover;
    background-position: 50%;
    opacity: 0.15;
}

.attachment{
    border-radius: 3px;
}

.relationship {
    background: rgba (0,0,0,.5);
    padding: 6px;
    border-radius: 3px;
    color: #fff;
}
