.avatar {
	border-radius: 4px;
}

.header .chip {
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid black;
}

.attachment {
	border-radius: 6px;
	background: rgba (150, 150, 150, 0.2);
	padding:0px;
	margin:0px;
}
.attachment .pic {
	border-radius: 6px;
}

.header-title-button {
	margin: 0px;
	border-radius: 0px;
	border-top: none;
	border-bottom: none;
}

.padded.app-view {
	margin: 32px 0 32px 0;
}
.app-view:not(.padded) .content row {
	border-radius: 0px;
}

.app-action-bar .circular {
	box-shadow: none;
}
