.avatar {
	border-radius: 4px;
}

.attachment {
	border-radius: 4px;
	background: rgba (150, 150, 150, 0.2);
}

.header-title-button {
	margin: 0px;
	border-radius: 0px;
	border-top: none;
	border-bottom: none;
}

.padded.app-view {
	margin: 32px 0 32px 0;
}
.app-view:not(.padded) .preferences row {
	border-radius: 0px;
}

.app-action-bar .circular {
	box-shadow: none;
}
