@define-color colorAccent #9aa7c8;
@define-color colorPrimary #9aa7c8;

.mode .button{
    border-radius:0px;
    border-top:none;
    border-bottom:none;
    padding:10px;
}
        
.button_avatar{
    padding:0;
    border:0;
    box-shadow:none;
    background:none;
}

.toot-text{
    background: none;
}

.header{
    background-size: cover;
    background-position: 50%;
    opacity: 0.2;
}
.header-counters{
    background:rgba(255,255,255,.4);
}
