@define-color colorAccent #c92e34;
@define-color colorPrimary #35393c;

.header-counters{
    background: rgba(0,0,0,.2);
}

.attachment{
    background: rgba (255,255,255,.15);
}

.card{
    background: rgba (255,255,255,.15);
}
