.sidebar .badge {
  padding: 2px 12px;
  border-radius: 999px;
  background: @accent_bg_color;
  color: @text_view_bg;
}

.font-bold {
  font-weight: bold;
}
.no-shadow {
	box-shadow: none;
}

headerbar.flat.no-title .title {
	opacity: 0;
}

.attachment, .attachment button, flowboxchild {
	padding:0px;
	margin:0px;
}

.attachment .osd, .cover-badge {
	padding: 6px 12px;
	border-radius: 6px;
	margin: 8px;
}

.ttl-flat-button {
  padding: 0px;
  margin: 0px;
}

.ttl-thread-line {
  background: @theme_fg_color;
  opacity: .1;
  margin-top: -8px;
  margin-bottom: -8px;
}

.ttl-code {
	font-family: monospace;
	padding: 12px;
	background: rgba(150,150,150,.1);
	border-radius: 6px;
}

.ttl-view .content row:not(.ttl-post)  {
	padding: 0px;
}

.ttl-view .small .content {
	border: none;
	border-radius: 0;
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ttl-view .small .content row {
	border-left: none;
	border-right: none;
	border-radius: 0px;
}

/* Hides the top border from the first row of the first listbox */
.ttl-view .small :first-child list row:first-child {
	border-top: 0px;
}

.ttl-view clamp > * {
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ttl-view .large {
	margin-left: 18px;
	margin-right: 18px;
}
.ttl-view .large:first-child {
	margin-top: 32px;
}
.ttl-view .large:last-child {
	margin-bottom: 32px;
}

.ttl-label-emoji-no-click:hover {
	background: transparent;
}
	
.ttl-label-emoji-no-click {
	background: transparent;
	padding: 0;
}

/*
  Profile
*/

.ttl-profile-cover .header-image {
  background:grey;
}
.ttl-profile-cover avatar {
	border: 6px solid @theme_base_color;
	background: @theme_base_color;
}
.large .header-image {
  border-radius: 12px 12px 0 0;
}

/* Status action icons */

.ttl-status-action-star:hover, .ttl-status-action-star.enabled {
	color: @yellow_5;
}

.ttl-status-action-star:active {
	color: @yellow_4;
}

.ttl-status-action-reblog:hover, .ttl-status-action-reblog.enabled {
	color: @purple_3;
}

.ttl-status-action-reblog:active {
	color: @purple_4;
}

.ttl-status-action-reply:hover, .ttl-status-action-reply.enabled {
	color: @green_3;
}

.ttl-status-action-reply:active {
	color: @green_4;
}

.ttl-status-action-bookmark:hover, .ttl-status-action-bookmark.enabled {
	color: @red_3;
}

.ttl-status-action-bookmark:active {
	color: @red_4;
}

.ttl-profile-stat-button, .small .ttl-profile-stat-button:first-child, .small .ttl-profile-stat-button:last-child {
	border-radius: 0px;
	padding: 8px 12px;
	min-height: 32px;
}

.ttl-profile-stat-button:first-child {
	border-bottom-left-radius: 12px;
}

.ttl-profile-stat-button:last-child {
	border-bottom-right-radius: 12px;
}

.ttl-box-no-shadow > revealer > box {
	box-shadow: none;
}

.ttl-status-font-large {
	font-size: 18.333333333333332px;
}

.ttl-status-line-height-large {
	line-height: 1.4;
}

.ttl-status-badge {
	background-color: rgba(0,0,0, .8);
	color: white;
	border-radius: 6px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.ttl-status-badge  > * {
	padding: 6px 12px;
}

.ttl-status-badge  > button > label {
	padding: 6px 12px;
}

.ttl-status-badge  > .image-button {
	padding: 3px 12px;
}

.ttl-verified-field {
	color: @success_color;
	background: alpha(@success_bg_color, 0.1);
}

.media-viewer-headerbar {
	background: rgba(0,0,0,.7);
	color: white;
}

.ttl-status-heading {
	font-size: 13px;
}

.ttl-status-avatar-actor {
	margin-top: -20px;
	margin-left: -6px;
	padding: 0;
	background: none;
}

.ttl-status-avatar-border {
	border: 3px solid @popover_bg_color;
	border-radius: 100%;
	background-color: @popover_bg_color;
}

.ttl-post {
	padding: 18px;
}

.ttl-post-actions {
	/* .ttl-post.padding */
	margin-bottom: -18px;
}

.ttl-thread-line.not-first {
	/* .ttl-post.padding + 8px */
	margin-top: -26px; 
}
