.sidebar .badge {
	padding: 2px 12px;
	border-radius: 999px;
	background: @accent_bg_color;
	color: @text_view_bg;
}

.font-bold {
	font-weight: bold;
}

.no-shadow {
	box-shadow: none;
}

headerbar.flat.no-title .title {
	opacity: 0;
}

.attachment,
.attachment button,
flowboxchild {
	padding: 0px;
	margin: 0px;
}

.cover-badge {
	padding: 6px 12px;
	border-radius: 6px;
	margin: 8px;
}

.cover-badge.only-icon {
	padding: 6px;
}

.ttl-flat-button {
	padding: 0px;
	margin: 0px;
}

.ttl-thread-line {
	background: @theme_fg_color;
	opacity: .1;
}

.ttl-code {
	font-family: monospace;
	padding: 12px;
	background: rgba(150, 150, 150, .1);
	border-radius: 6px;
}

.ttl-view .content row:not(.ttl-post) {
	padding: 0px;
}

.ttl-view .small .content {
	border: none;
	border-radius: 0;
}

.ttl-view .small .content row {
	border-left: none;
	border-right: none;
	border-radius: 0px;
}

/* Hides the top border from the first row of the first listbox */
.ttl-view .small :first-child list row:first-child {
	border-top: 0px;
}

.ttl-view:not(.no-transition) .small .content,
.ttl-view:not(.no-transition) clamp>* {
	transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.no-transition {
	transition: none;
}

.ttl-view .large {
	margin-left: 18px;
	margin-right: 18px;
}

.ttl-view .large:first-child {
	margin-top: 32px;
}

.ttl-view .large:last-child {
	margin-bottom: 32px;
}

.ttl-label-emoji-no-click:hover {
	background: transparent;
}

.ttl-label-emoji-no-click {
	background: transparent;
	padding: 0;
}

.ttl-name-button {
	padding: 0 5px;
	margin-left: -5px;
	margin-right: -5px;
}

/*
	Profile
*/

.ttl-profile-cover .header-image {
	background: grey;
}

.ttl-profile-cover avatar {
	border: 6px solid @theme_base_color;
	background: @theme_base_color;
}

.large .header-image {
	border-radius: 12px 12px 0 0;
}

/* Status action icons */

.ttl-status-action-star:hover,
.ttl-status-action-star.enabled {
	color: @yellow_5;
}

.ttl-status-action-star:active {
	color: @yellow_4;
}

.ttl-status-action-reblog:hover,
.ttl-status-action-reblog.enabled {
	color: @purple_3;
}

.ttl-status-action-reblog:active {
	color: @purple_4;
}

.ttl-status-action-reply:hover,
.ttl-status-action-reply.enabled {
	color: @green_3;
}

.ttl-status-action-reply:active {
	color: @green_4;
}

.ttl-status-action-bookmark:hover,
.ttl-status-action-bookmark.enabled {
	color: @red_3;
}

.ttl-status-action-bookmark:active {
	color: @red_4;
}

.ttl-profile-stat-button,
.small .ttl-profile-stat-button:first-child,
.small .ttl-profile-stat-button:last-child {
	border-radius: 0px;
	padding: 8px 12px;
	min-height: 32px;
}

.ttl-profile-stat-button:first-child {
	border-bottom-left-radius: 12px;
}

.ttl-profile-stat-button:last-child {
	border-bottom-right-radius: 12px;
}

.ttl-box-no-shadow>revealer>box {
	box-shadow: none;
}

.ttl-status-font-large {
	font-size: larger;
}

.ttl-status-font-large > .ttl-large-body {
	font-size: larger;
}

.ttl-large-body {
	font-size: 16px;
}

.ttl-status-line-height-large {
	line-height: 1.4;
}

.ttl-status-badge {
	color: white;
	border-radius: 6px;
	margin: 8px;
}

.ttl-status-badge:not(.attachmentpageattachment) {
	background-color: rgba(0, 0, 0, .8);
}

.ttl-status-badge.attachmentpageattachment>*.error {
	background-color: alpha(mix(@red_4, white, .8), .8);
}

.ttl-status-badge.attachmentpageattachment>*.success {
	background-color: alpha(mix(@green_4, white, .8), .8);
}

.ttl-status-badge>*, .ttl-status-badge.sensitive-label {
	padding: 1px 6px;
}

.ttl-status-badge>button>label {
	padding: 1px 6px;
}

.ttl-status-badge>.image-button {
	padding: 1px 6px;
}

.ttl-verified-field {
	color: @success_color;
	background: alpha(@success_bg_color, 0.1);
}

.media-viewer-headerbar {
	background: rgba(0, 0, 0, .7);
	color: white;
}

.ttl-status-heading {
	font-size: 13px;
}

.ttl-status-heading-padding {
	margin-top: -5px;
	padding: 0 5px;
	margin-left: -5px;
	margin-right: -5px;
}

.ttl-status-avatar-actor {
	margin-top: -20px;
	margin-left: -6px;
	padding: 0;
	background: none;
}

.ttl-status-avatar-border {
	border: 3px solid @popover_bg_color;
	border-radius: 100%;
	background-color: @popover_bg_color;
}

.ttl-post.direct {
	background-color: alpha(@warning_bg_color, .1);
}

.ttl-post.direct:hover {
	background-color: darker(alpha(@warning_bg_color, .1));
}

.ttl-post-actions {
	margin-bottom: -12px;
}

.ttl-thread-line.top {
	margin-top: -18px;
	margin-bottom: -3px;
}

.ttl-thread-line.bottom {
	margin-bottom: -20px;
}

.attachment-overlay-icon {
	border-radius: 100%;
	min-height: 64px;
	min-width: 64px;
}

.attachment-picture {
	border-radius: 6px;
}

.about .app-version{color:#fff;text-shadow:-1px -1px 0#000,1px -1px 0#000,-1px 1px 0#000,1px 1px 0#000;background:linear-gradient(150deg,#fdd81755 0,#66338b55 8.3%,#fff5 16.6%,#f4aec855 24.9%,#7bcce555 33.2%,#94551655 41.5%,#0005 49.8%,#e2201655 58.1%,#f2891755 66.4%,#efe52455 74.7%,#78b82a55 83%,#2c58a4 91.3%,#6d238055 100%);}

.about .app-version:hover {background:radial-gradient(circle at 9.75% 50%,#0000 6.66%,#7902aa 6.7%,#0000 8.4%),conic-gradient(at 26.66% 50%,#0000 222.75deg,#ffd800 0 317.25deg,#0000 0),conic-gradient(at 33% 50%,#0000 222.75deg,white 0 317.25deg,#0000 0),conic-gradient(at 39% 50%,#0000 222.75deg,#ffa6b9 0 317.25deg,#0000 0),conic-gradient(at 45.66% 50%,#0000 222.75deg,#00d2ff 0 317.25deg,#0000 0),conic-gradient(at 52% 50%,#0000 222.75deg,#753000 0 317.25deg,#0000 0),conic-gradient(at 58.33% 50%,#0000 222.75deg,#000 0 317.25deg,#0000 0),linear-gradient(to bottom,#e40303,#e40303 16.67%,#ff8c00 16.67%,#ff8c00 33.33%,#ffed00 33.33%,#ffed00 50%,#008026 50%,#008026 66.67%,#004dff 66.67%,#004dff 83.33%,#750787 83.33%,#750787);}

/* Composer auto completion */
GtkSourceAssistant.completion list row{
	padding: 6px 12px 6px 12px;
}

.no-border-radius {
	border-radius: 0px;
}

.locale-dropdown-upcase {
	text-transform: uppercase;
}

.preview_card {
	padding: 0;
}

.preview_card_image:dir(ltr) {
	border-radius: 6px 0px 0px 6px;
}

.preview_card_image:dir(rtl) {
	border-radius: 0px 6px 6px 0px;
}

.preview_card_video {
	border-radius: 6px 6px 0px 0px;
}

.ttl-view :first-child list row:not(:first-child):not(:last-child) .preview_card.explore {
	border-radius: 0px;
}

.ttl-view .small :first-child list row:first-child .preview_card.explore .preview_card_image,
.ttl-view .small :first-child list row:last-child .preview_card.explore .preview_card_image,
.ttl-view :first-child list row:not(:first-child):not(:last-child) .preview_card.explore .preview_card_image {
	border-radius: 0px;
}

.ttl-view box:not(.small) :first-child list row:first-child .preview_card.explore {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.ttl-view :first-child list row:first-child .preview_card.explore,
.ttl-view :first-child list row:first-child .preview_card.explore .preview_card_image {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ttl-view box:not(.small) :first-child list row:first-child .preview_card.explore .preview_card_image:dir(ltr) {
	border-top-left-radius: 12px;
}

.ttl-view box:not(.small) :first-child list row:first-child .preview_card.explore .preview_card_image:dir(rtl) {
	border-top-right-radius: 12px;
}

.ttl-view :first-child list row:last-child .preview_card.explore,
.ttl-view :first-child list row:last-child .preview_card.explore .preview_card_image {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ttl-view box:not(.small) :first-child list row:last-child .preview_card.explore {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.ttl-view box:not(.small) :first-child list row:last-child .preview_card.explore .preview_card_image:dir(ltr) {
	border-bottom-left-radius: 12px;
}

.ttl-view box:not(.small) :first-child list row:last-child .preview_card.explore .preview_card_image:dir(rtl) {
	border-bottom-right-radius: 12px;
}

.bkwm-desc {
	padding: 12px;
}

video > overlay > revealer > controls {
	padding: 12px;
}

.spoilered-attachment {
	filter: blur(30px);
}

.lww-line-height {
	line-height: 1.8;
	margin-top: -5px;
	margin-bottom: -5px;
}
